@import "vars";
@import "libs";
@import "fonts";
@import "global";

/* ############################# */

.header {
    position: fixed;
    left: 0;
    top: 30px;
    right: 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 30px;
    }
}


/* ############################# */

@import "media";